@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:wght@100..700&family=Material+Icons&display=block');

*{
  margin: 0;
  padding: 0;
  color: black;
}

a{
  text-decoration: none;
}

.navbar_pc {
  display: flex;
  flex-direction: row;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding-inline: 5rem;
  padding-block: 2rem ;
  align-items: center;
  justify-content: space-between;
  background: transparent;
  z-index: 10;
}

/* .navbar_menu{
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-grow: 1;
} */

.navbar_link{
  display: flex;
  align-items: center;
  justify-content: center;
}






.navbar_mobile{
  display: none;
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}

@media (max-width: 768px) {

  .material-symbols-outlined {
    font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 24
  }

}