@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:wght@100..700&family=Material+Icons&display=block');

/* Enable smooth scrolling globally */
html {
  scroll-behavior: smooth;
}

/* Define colors */
:root {
  --black: #000;
  --dark-gray: #202124;
  --white: #fff;
  --dark-bg: #202124;
  --dark-border: #4a4a4a;
  --dark-hover: #3a3a3a;
  --dark-text: #e0e0e0;
  --light-text: #151515;
}

* {
  margin: 0;
  padding: 0;
  color: var(--black);
}

.dark-mode * {
  color: var(--dark-text);
}

a {
  text-decoration: none;
}

.navbar_container {
  display: flex;
  flex-direction: row;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding-inline: 5rem;
  padding-block: 2rem;
  align-items: center;
  justify-content: space-between;
  background: transparent;
  z-index: 10;
  transition: background-color 0.3s ease;
}

.navbar {
  display: flex;
  flex-direction: row;
  margin: 0;
  padding: 0;
  align-items: center;
  justify-content: space-between;
  flex-grow: 1;
}

.dark-mode .navbar_container {
  background: var(--dark-bg);
}

.navbar_logo .navbar_link {
  font-size: 1.5rem;
  font-weight: bold;
  color: var(--dark-gray);
}

.dark-mode .navbar_logo .navbar_link {
  color: var(--dark-text);
}

.navbar_menu {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding-inline: 0.1rem;
  padding-block: .1rem;
  list-style: none;
  gap: 2rem;
  border: 3px solid var(--black);
  border-radius: 20px;
  transition: opacity 0.3s ease, transform 0.3s ease;
}

.dark-mode .navbar_menu {
  border-color: var(--dark-border);
}

.navbar_item {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0.5rem 1rem;
  border-radius: 1rem;
  transition: background-color 0.3s ease;
}

.navbar_item:hover {
  background-color: var(--dark-gray);
  color: var(--white);
}

.dark-mode .navbar_item:hover {
  background-color: var(--dark-border);
  color: var(--white);
}

.navbar_item button {
  color: inherit;
  font-size: 1rem;
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  width: auto;
  height: 100%;
  display: block;
}

.support_icon {
  line-height: 50%;
  transform: rotate(0deg);
}

.navbar_item:hover .support_icon {
  animation: drop_down .6s forwards;
  color: var(--white);
}

.support_icon:hover {
  color: var(--white);
}

.navbar_item:not(:hover) .support_icon{
  animation: drop_down_reverse .5s forwards;
}

@keyframes drop_down {
  from{
    rotate: 0deg;
  }
  to{
    rotate: 180deg;
  }
}

@keyframes drop_down_reverse{
  from{
    rotate: 180deg;
  }
  to{
    rotate: 0deg;
  }
}

.nav_menu_1{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
}

.account {
  padding: 0.5rem 1rem;
  border: 3px solid var(--black);
  border-radius: 20px;
  transition: background-color 0.3s ease;
}

.dark-mode .account {
  border-color: var(--dark-border);
}

.account:hover {
  background-color: var(--dark-gray);
  color: var(--white);
}

.dark-mode .account:hover {
  background-color: var(--dark-border);
  color: var(--white);
}

.navbar_menu.hidden {
  opacity: 0;
  transform: translateY(-100%);
  pointer-events: none;
}

.navbar_logo,
.account {
  opacity: 1 !important;
  transform: none !important;
}

.navbar_mobile {
  display: none;
}

.material-symbols-outlined {
  font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 24;
  color: #000;
}

.dark-mode .material-symbols-outlined {
  font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 24;
  color: #fff;
}

.sideBar_icon {
  display: none;
  cursor: pointer;
  font-size: 2rem;
}

.nav_item_mobile{
  display: none;
}

.nav_settings{
  font-size: 1.8rem;
}

.nav_settings:hover{
  animation: setting_spin .5s forwards;
}

.nav_settings:not(:hover){
  animation: setting_spin_reverse .5s forwards;
}

@keyframes setting_spin{
  from {
    rotate: 0deg;
  }
  to {
    rotate: 60deg;
  }
}

@keyframes setting_spin_reverse{
  from {
    rotate: 60deg;
  }
  to {
    rotate: 0deg;
  }
}


@media (max-width: 1024px) {
  .navbar_container {
    padding-inline: 3rem;
    padding-block: 1.5rem;
    gap: 2rem;
  }

  .navbar_menu {
    margin-inline: 1rem;
  }

  .sideBar_icon {
    display: none;
  }
}

@media (max-width: 768px) {
  .navbar_container {
    padding-inline: 2rem;
    padding-block: 1rem;
    gap: 2rem;
  }

  .sideBar_icon {
    display: flex;
    position: relative;
    z-index: 13;
  }

  .navbar_menu {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    right: -100%; /* Hidden off-screen by default */
    width: 350px;
    height: 100vh;
    justify-content: flex-start;
    background: var(--dark-border);
    border: none;
    border-radius: 50px 0px 0px 50px;
    padding: 5rem 1rem;
    margin: 0;
    gap: 1rem;
    transition: right 0.3s ease;
    z-index: 12;
  }

  .dark-mode .navbar_menu {
    background: var(--dark-bg);
  }

  .navbar_menu.sidebar_open {
    right: 0;
  }

  .navbar_link_item{
    padding: 0;
    margin: 0;
  }

  .navbar_item {
    color: var(--light-text);
    border: 1px solid var(--dark-hover);
    padding: 1rem;
    border-radius: 2rem;
  }

  .navbar_item button {
    text-align: left;
    font-size: 1.5rem;
  }

  .navbar_menu.hidden {
    opacity: 1;
    transform: none;
    pointer-events: auto;
  }

  .nav_item_mobile{
    display:flex;
  }

  .nav_settings{
    display: none;
  }

  .pricing_details{
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }
}